/*on click for contact info -- make it light up or something*/
/*page refs for my projects page*/
/*making popups for different projects?*/
/*fix alignment on home page****************/
/*line up name and list items in nav?*/
/*organize code*/
/*overline on hover for nav links*/
/*note which page you are on with overline*/

/*navigation menu header*/

.my-name {
  font-family: 'Sacramento', cursive;
  text-align: center;
  font-size: 3em;
  margin: 0px;
  margin-top: .5em;
  color: #1f1f1f;
}

/*h1 {
  font-family: 'Sacramento', cursive;
  font-size: 2em;
}*/

a {
  text-decoration: none;
  color: #1f1f1f;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #1f1f1f;
}

nav.top-nav {
  background-color: white;
  z-index: 999;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding-left: 1.5em;
}

nav.top-nav ul{
  font-family: 'Open Sans', sans-serif;
  color: #1f1f1f;
  list-style: none;
  padding: 0;
  cursor: pointer;
  text-align: center;
  margin: 0px;
}

nav.top-nav li {
  font-family: 'Open Sans', sans-serif;
  color: #1f1f1f;
  margin: 2px;
  margin-left: 1.5em;
  margin-right: 1.5em;
  display: inline-block;
  padding: 2px;
  cursor: pointer;
  position: relative;
  font-size: 18px;
}

nav.top-nav li:hover {
  text-decoration: overline;
}

nav.top-nav .pulldown-menu li:hover {
  text-decoration: none;
  color: gray;
}

nav.top-nav .pulldown-menu li{
  font-family: 'Open Sans', sans-serif;
  color: #1f1f1f;
  display: block;
  margin: 2px;
  margin-top: 10px;
  padding-top: 2px;
  font-weight: 200;
  text-align: left;
  vertical-align: middle;
  font-size: 18px;
}

.top-nav .pulldown-menu {
  font-family: 'Open Sans', sans-serif;
  display: none;
  position: absolute;
  background-color: #fdfdfd;
  border-radius: 2px;
  top: 25px;
  left: -2px;
  width: 175px;
}

nav.top-nav li:hover .pulldown-menu {
  display: block
}

/*main content*/

main {
  margin-left: 4em;
  margin-right: 4em;
}

.bio-container {
  margin-top: 11em;
  display: grid;
  grid-template-columns: 25% 25%;
  grid-gap: 1em;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

.bio-img img {
  max-width: 100%;
  border-radius: 50%;
}

.bio-container h1 {
  font-family: 'Sacramento', cursive;
  color: #1f1f1f;
  text-align: right;
  margin: 1px;
}

.bio-container p {
  padding-right: 1em;
}

.bio-description {
  font-family: 'Open Sans', sans-serif;
  text-align: right;
  margin: 1px;
  max-height: 100%;
}

.bio-description h1 {
  font-size: 2em;
}

.project-container {
  font-family: 'Sacramento', cursive;
  color: #1f1f1f;
  width: 100%;
	display: grid;
  grid-template-columns: 30% 50%;
  grid-column-gap: 1em;
  grid-row-gap: 2em;
  align-items:flex-start;
  justify-content: center;
  text-align: left;
}

.project-container h1 {
  font-family: 'Sacramento', cursive;
  font-size: 2em;
  margin: 2px;
}

.project-img img {
	width: 100%;
}

.project-description {
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
}

.resume-container {
  width: 100%;
	display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-gap: 1em;
  justify-content: center;
  text-align: center;
  align-items: flex-start;
  margin: 0px;
}

.resume-icon {
}

.material-icons.md-48 {
  font-size: 48px;
  color: #1f1f1f;
}


.resume-description {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.see-all i{
  display: inline;
  font-size: 2em;
  vertical-align: middle;
  text-align: right;
  margin: 1px;
}

.see-all a:hover {
  color: darkgray;
}

.see-all h1:hover {
  color: darkgray;
}

.see-all h1 {
  display: inline;
  font-size: 2em;
  vertical-align: middle;
  text-align: right;
}

.see-all {
  font-family: 'Sacramento', cursive;
  color: #1f1f1f;
  width: 83%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  margin-top: 1em;
}

#PROJ-SEE-ALL {
  margin-top: 0em;
}

.project-description .see-all {
  text-align: left;
  margin-left: 0px;
  font-size: 1em;
}

.bio-description .see-all {
  margin-right: 0px;
}

.heading{
  font-family: 'Sacramento', cursive;
  margin-top: 3em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 82%;
  background-color: #1f1f1f;
  color: white;
  border-radius: 5px;
  font-size: 1.3em;
}

.heading h1 {
  padding: 5px;
}

section.project-container .heading {
  grid-column: 1 /span 2;
}

section.resume-container .heading {
  grid-column: 1 /span 5;
}

section.contact-container .heading {
  grid-column: 1 /span 2;
}

section.project-container .see-all {
  grid-column: 1 /span 2;
}

section.resume-container .see-all {
  grid-column: 1 /span 5;
}

/*a friendly square*/
.contact-container {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 30% 5% 30%;
  grid-gap: 1em;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 2em;
}

.page-heading {
  width: 80%;
  margin-top: 5em;
  line-height: 0px;
  background-color: white;
  color: #1f1f1f;
  font-size: 2em;
  font-family: 'Sacramento', cursive;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#PROJECT-HEADING {
  width: 80%;
  margin-top: 6.5em;
  margin-bottom: 3em;
  line-height: 0px;
  background-color: white;
  color: #1f1f1f;
  font-size: 2em;
}

#CONTACT {
  grid-template-columns: 5% 45%;
  grid-gap: 2em;
}

.contact-background {
  background-color: white;
  color: #1f1f1f;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact-description {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

.contact-icon {
  text-align: right;
}

.project-heading{
  font-family: 'Open Sans', sans-serif;
  margin-top: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 81%;
  background-color: white;
  color: #1f1f1f;
  border-radius: 5px;
  font-size: 1em;
}

.about-container {
  margin-top: 5em;
  width: 100%;
	display: grid;
  grid-template-columns: 20% 20% 20%;
  grid-column-gap: 3em;
  grid-row-gap: 1em;
  align-items: top;
  justify-content: center;
  text-align: center;
}

.about-description {
  margin-bottom: 2em;
}

.resume-container-full {
  margin-top: 10em;
  width: 100%;
	display: grid;
  grid-template-columns: 20% 50%;
  grid-gap: 1em;
  grid-row-gap: 3em;
  align-items: flex-start;
  text-align: left;
}

.resume-container-full h1 {
  font-family: 'Sacramento', cursive;
  font-size: 2em;
  text-align: left;
  margin: 0px;
}

.resume-container-full p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  text-align: left;
  margin: 0px;
}

.resume-container-full .resume-icon {
  text-align: right;
  margin-right: 1em;
  margin-top: 2px;
}

.project-img a:hover {
  opacity: 50%;
}

.resume-icon a:hover {
  opacity: 30%;
}

.space {
  margin-bottom: 11em;
}

#LINK {
  color: gray;
}
