/*on click for contact info -- make it light up or something*/
/*page refs for my projects page*/
/*making popups for different projects?*/
/*fix alignment on home page*/

/*navigation menu header*/

.my-name {
  text-align: center;
  margin-top: 1em;
}

a {
  text-decoration: none;
  color: black;
}

nav.top-nav {
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding-left: 1.5em;
}

nav.top-nav ul{
  list-style: none;
  padding: 0;
  cursor: pointer;
  text-align: center;
}

nav.top-nav li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: black;
  margin: 2px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  padding: 2px;
  cursor: pointer;
  position: relative;
}

nav.top-nav li:hover {
  color: gray;
}

nav.top-nav li:active {
  color: gray;
}

nav.top-nav .pulldown-menu li{
  font-family: 'EB Garamond', serif;
  color: black;
  display: block;
  margin: 2px;
  margin-top: 6px;
  padding-top: 2px;
  font-weight: 200;
  font-size: 1.2em;
  text-align: left;
}

.top-nav .pulldown-menu {
  display: none;
  position: absolute;
  background-color: white;
  top: 20px;
  left: 5px;
  width: 170px;
}

nav.top-nav li:hover .pulldown-menu {
  display: block
}

a:visited {
  color: black;
}

/*main content*/

main {
  margin-left: 4em;
  margin-right: 4em;
}

.bio-container {
  margin-top: 10em;
  display: grid;
  grid-template-columns: 20% 30%;
  grid-gap: 1em;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

.bio-img img {
  max-width: 100%;
}

.bio-description {

}

.project-container {
	display: grid;
  grid-template-columns: 50% 30%;
  grid-gap: 1em;
  align-items: center;
  justify-content: center;
}

.project-img img {
	width: 100%;
}

.project-description {
  text-align: left;
}

.resume-container {
	display: grid;
  grid-template-columns: 30% 50%;
  grid-gap: 1em;
  align-items: center;
  justify-content: center;
}

.resume-img img {
	width: 100%;
}

.resume-description {
  text-align: right;
}

.see-all {
  width: 100%;
  text-align: right;
}

section.bio-container .see-all {

}

section.project-container .see-all {
  grid-column-start: 2;
}

section.resume-container .see-all {
  grid-column-start: 2;
}

.heading{
  margin-top: 3em;
  text-align: left;
  width: 100%;
}

section.project-container .heading {
  grid-column: 1 /span 2;
}

section.resume-container .heading {
  grid-column-start: 2;
}


/*a friendly square*/
.contact-info {
  display: grid;
  grid-template-columns: 20% 5% 5% 30% 5% 12%;
  text-align: right;
  align-items: center;
  justify-content: center;
  background-color: red;
}
