h1{
  color: gray;
}

nav.top-nav {
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding-left: 1.5em;
}

nav.top-nav ul{
  list-style: none;
  padding: 0;
  margin-left: 70%;
  cursor: pointer;
}

nav.top-nav li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: black;
  margin: 5px;
  display: inline-block;
  padding: 2px;
  cursor: pointer;
  position: relative;
}

nav.top-nav li:hover {
  text-decoration: underline;
  color: #000;
}

nav.top-nav li:active {
  color: #808080
}

nav.top-nav .pulldown-menu li{
  font-family: 'EB Garamond', serif;
  color: black;
  display: block;
  padding: 5px;
  font-weight: 200;
  font-size: 1.2em;
}

.top-nav .pulldown-menu {
  display: none;
  position: absolute;
  background-color: white;
  top: 25px;
  left: 5px;
  width: 200px;
  margin-left: 0px;
}

nav.top-nav li:hover .pulldown-menu {
  display: block
}
